@model List<skjatextar.Models.CollectionOfSrt>
@{
    ViewBag.Title = "Um Síðuna";
}

<h3>@ViewBag.Message</h3>
<ol>
    <li>Öll dýrin í skóginum skulu vera vinir</li>
    <li>Hlýða skal, og sýna stjórnendum ístextar.is virðingu </li>
    <li>Tilkynningakerfið er ekki til að leika sér að. Tilkynna skal aðeins notendur sé þess virkilega þörf.</li>
    <li>Íslenska er móðurmál á ístextar.is..</li>
    <li>Stjórnendur áskilja sér rétt til að breyta eða búa til reglur án fyrirvara.</li>
    <li> Blót, guðlast og þess háttar leiðindi eru ekki vel metin á Ístextar.is</li>
</ol>