@model List<skjatextar.Models.RequestModel>
@{
    ViewBag.Title = "Beiðnir";
}

<div>
    <h2>Listi yfir beiðnir</h2>
    @foreach (var item in Model)
    {
        <a href="/Home/Beiðnir/@item.reqId">
            <div class="well">
                <h4>@item.requestText</h4>
            </div>
        </a>
    }
</div>
