@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ístextar<br />
    Ísgötu 7, Ísland<br />
    <abbr title="Phone">S:</abbr>
    123-4567
</address>

<address>
    <strong>Senda póst:</strong>   <a href="mailto:istextar@istextar.is">istextar@istextar.is</a><br />
</address>