@{
    ViewBag.Title = "Hafa Samband";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <font size="3">
        <p>Ístextar </p>
        <p>Ísgötu 7, Ísland</p>
        <abbr title="Phone">Sími: 565-4567 </abbr>
    </font>
</address>

<address>
    <strong>Senda póst:</strong>   <a href="mailto:istextar@istextar.is">istextar@istextar.is</a><br />
</address>

<div class=" row">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td><a href="http://s28.photobucket.com/user/Danielagnars/media/970705_10201886968084351_1639527726_n_zps2fa93a6a.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/970705_10201886968084351_1639527726_n_zps2fa93a6a.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>Alex Ívar Ívarsson</td>
                <td><a href="mailto:alex@istextar.is">alex@istextar.is</a><br /></td>
            </tr>
            <tr>
                <td><a href="http://s28.photobucket.com/user/Danielagnars/media/1003149_10151516436318021_1204252292_n_zps5d62e2ea.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/1003149_10151516436318021_1204252292_n_zps5d62e2ea.jpg" border="0" alt="Mynd Vantar " height="150" width="150" /></a></td>
                <td>Annamaría Þorsteinsdóttir</td>
                <td><a href="mailto:anna@istextar.is">anna@istextar.is</a><br /></td>
            </tr>
            <tr>
                <td><a href="http://s28.photobucket.com/user/Danielagnars/media/292459_10151103102622042_1026278538_n_zpsf836b693.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/292459_10151103102622042_1026278538_n_zpsf836b693.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>Daníel Agnarsson </td>
                <td><a href="mailto:Daníel@istextar.is">Daníel@istextar.is</a><br /></td>
            </tr>
            <tr>
                <td><a href="http://s28.photobucket.com/user/Danielagnars/media/1003171_502431513166718_1304911068_n_zpsd525bf86.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/1003171_502431513166718_1304911068_n_zpsd525bf86.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>Freydís Aradóttir</td>
                <td><a href="mailto:Freydís@istextar.is">Freydís@istextar.is</a><br /></td>
            </tr>
            <tr>
                <td><a href="http://s28.photobucket.com/user/Danielagnars/media/536838_3956923972020_1143187738_n_zps0535ffe3.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/536838_3956923972020_1143187738_n_zps0535ffe3.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>Kristján Pétur Kristinsson</td>
                <td><a href="mailto:Kristján@istextar.is">Kristján@istextar.is</a><br /></td>
            </tr>
            <tr>
                <td><a href="http://s28.photobucket.com/user/Danielagnars/media/226723_1055409952811_396_n_zpsb3a003f9.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/226723_1055409952811_396_n_zpsb3a003f9.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>Kristrún Louise Ástvaldsdóttir</td>
                <td><a href="mailto:kristrun@istextar.is">kristrun@istextar.is</a><br /></td>
            </tr>
        </tbody>
    </table>
</div>