@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ístextar<br />
    Ísgötu 7, Ísland<br />
    <abbr title="Phone">S:</abbr>
    123-4567
</address>

<address>
    <strong>Senda póst:</strong>   <a href="mailto:istextar@istextar.is">istextar@istextar.is</a><br />
</address>

<div>
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td><a href="http://s28.photobucket.com/user/Danielagnars/media/292459_10151103102622042_1026278538_n_zpsf836b693.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/292459_10151103102622042_1026278538_n_zpsf836b693.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>ÞETTA ER DANÍEL</td>
            </tr>
            <tr>
                <td></td><a href="http://s28.photobucket.com/user/Danielagnars/media/1003149_10151516436318021_1204252292_n_zps5d62e2ea.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/1003149_10151516436318021_1204252292_n_zps5d62e2ea.jpg" border="0" alt="Mynd Vantar " height="150" width="150" /></a></td>
                <td>ÞETTA ER Annamaría</td>
            </tr>
            <tr>
                <td><a href="http://i28.photobucket.com/albums/c213/Danielagnars/970705_10201886968084351_1639527726_n_zps2fa93a6a.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/292459_10151103102622042_1026278538_n_zpsf836b693.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>ÞETTA ER Alex Ívar</td>
            </tr>
            <tr>
                <td><a href="http://i28.photobucket.com/albums/c213/Danielagnars/1003171_502431513166718_1304911068_n_zpsd525bf86.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/292459_10151103102622042_1026278538_n_zpsf836b693.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>ÞETTA ER Freydís</td>
            </tr>
            <tr>
                <td><a href="http://i28.photobucket.com/albums/c213/Danielagnars/226723_1055409952811_396_n_zpsb3a003f9.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/292459_10151103102622042_1026278538_n_zpsf836b693.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>ÞETTA ER Kristján</td>
            </tr>
            <tr>
                <td><a href="http://i28.photobucket.com/albums/c213/Danielagnars/226723_1055409952811_396_n_zpsb3a003f9.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c213/Danielagnars/292459_10151103102622042_1026278538_n_zpsf836b693.jpg" border="0" alt="Mynd Vantar" height="150" width="150" /></a></td>
                <td>ÞETTA ER Kristrún</td>
            </tr>
        </tbody>
    </table>
</div>