@model skjatextar.Models.CollectionOfSrt
@{
    ViewBag.Title = "Details";
}




<div>
    <h4>Nánar um þátt og mynd</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           <h3>@Model.title</h3>
        </dt>

    </dl>
</div>
