@model skjatextar.Models.SrtDataModel
@{
    ViewBag.Title = "EditFile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Upload</h2>
        <hr />
        @Html.ValidationSummary(true)

            <div class="form-horizontal">
                <textarea name="dataText" rows="20" cols="300">@Model.dataText</textarea>
            </div>
   
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


