@model skjatextar.Models.SrtDataModel
@{
    ViewBag.Title = "EditFile";
}

<div>
    <h2>Upload</h2>
    <h3>@Model.dataName</h3>
    <textarea rows="20" cols="100">@Model.dataText</textarea>
</div>
