@model List<skjatextar.Models.SrtFileModel>
@{
    ViewBag.Title = "Notandi";
}

<html>
<body>
    <div id="drop" class="drop">
            <select name="drop">
                <option>Veldu sjónvarpsþátt</option>
                @foreach (var item in Model)
                {
                    <option value="#">@item.title</option>
                }
            </select>
        
    </div>
</body>
</html>