@model List<skjatextar.Models.CollectionOfSrt>

@{
    ViewBag.Title = "Home Page";
}

<h1>10.N&#253;justu</h1>

<div class="jumbotron">
    <table>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.title, "Details", new { id = item.tvId })</td>
                </tr>
            }

        </tbody>
    </table>
</div>
