@model List<skjatextar.Models.CollectionOfSrt>

@{
    ViewBag.Title = "Home Page";
}

<h1>listi</h1>
<div>
    @foreach(var item in Model)
    {
        <h3>@item.title</h3>
        <h3>@item.episodeAbout</h3>
        <h3>@item.year</h3>
    }


</div>