@{
    ViewBag.Title = "Home Page";
}

<h1>10.N&#253;justu</h1>
<div>
    @foreach (var show in (List<skjatextar.Models.CollectionOfSrt>)ViewData["shows"])
    {
            <h3>@show.title</h3>
            <h3>@show.episodeAbout</h3>
            <h3>@show.year</h3>
    }

</div>
