@model List<skjatextar.Models.CollectionOfSrt>

@{
    ViewBag.Title = "Home Page";
}

<h1></h1>
<div>
    <h2>Nýjustu skrárnar:</h2>
    <div>
        @foreach (var item in Model)
        {
            <h3>@item.title</h3>
            <h3>@item.episodeAbout</h3>
            <h3>@item.year</h3>
        }
    </div>

</div>
