@model List<skjatextar.Models.User>
@{
    ViewBag.Title = "Notandi";
}

<div>
    <h2>Users</h2>
    @foreach (var item in Model)
    {
        <a href="/Home/Users/@item.regId">
            <div class="well">
                <h4>@item.email</h4>
                <h3>@item.name</h3>
                <p>@item.username</p>
                <h5>@item.password</h5>
            </div>
        </a>
    }
</div>
<div>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
</div>