@model List<skjatextar.Models.SrtFileModel>
@{
    ViewBag.Title = "Notandi";
}

<html>
<body>
    <div>
     
            <form action="veldu">
                <select name="cars">
                    @foreach (var item in Model)
                    {
                        <option value="#">@item.title</option>
                    }
                </select>
            </form>
    </div>
</body>
</html>