@model List<skjatextar.Models.CollectionOfSrt> 
@{
    ViewBag.Title = "Home Page";
}




<!-- Begin Body -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">
                <h2 id="sec0">Content</h2>
                At Bootply we like to build simple Bootstrap templates that utilize the code Bootstap CSS without a lot of customization. Sure you can
                find a lot of Bootstrap themes and inspiration, but these templates tend to be heavy on customiz
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10 Nýjustu</h3></div>
                <div class="panel-body">
                    <table>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(item.title, "Details", new { id = item.tvId })</td>
                                    <td><a href="/Home/Details/@item.tvId">Nánar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                  

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Óskir</h3></div>
                <div class="panel-body">
                    <table>
                        <tbody>
                            @foreach (var item in Model)
                            {
                               <tr>
                                    <td>@Html.ActionLink(item.title, "Details", new { id = item.tvId })</td>
                                    <td><a href="/Home/Details/@item.tvId">Nánar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10.Vinsælustu</h3></div>
                <div class="panel-body">

                    <table>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                 <tr>
                                    <td>@Html.ActionLink(item.title, "Details", new { id = item.tvId })</td>
                                    <td><a href="/Home/Details/@item.tvId">Nánar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Listinn</h3></div>
                <div class="panel-body">
                    <table>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                 <tr>
                                    <td>@Html.ActionLink(item.title, "Details", new { id = item.tvId })</td>
                                    <td><a href="/Home/Details/@item.tvId">Nánar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


