@{
    ViewBag.Title = "Upload";
}

<div>
    <h2>Upload</h2>
    @using (Html.BeginForm("", "Home/Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" /><br />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
</div>